<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!-- 로그인 모달 - ID와 fragment 이름 맞추기 -->
    <div th:fragment="login-modal" class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                	<input type="hidden" id="redirect-url" name="redirect" value="">
                	<div class="logo-container">
        				<img alt="mini-logo" src="/images/logo2.png" class="mini-logo" id="login-logo">
    				</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-title">회원이 되어 재미있게 작명하고 이름에 따른</div>
                    <div class="modal-title"> 뜻 깊은 의미를 확인해보세요!</div>
                </div>
                <div class="modal-body">
                    <form id="loginForm" method="POST">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="login-email" name="email" placeholder="이메일" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="login-password" name="password" placeholder="비밀번호" required>
                        </div>
                        <button type="submit" class="btn btn-primary">로그인</button>
                        <button class="btn btn-primary" id="btn-google">
                        	<a><img alt="google-login" src="/images/google_logo.png" class="google-logo"></a>
                        	Google 계정으로 로그인
                        </button>    
                        <div class="modal-text" id="forgot-password">비밀번호를 잊어버렸어요.</div>
                        <div class="member-registration">
                        	<div class="modal-text">아직 회원이 아니신가요?</div>
                        	<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#signup-modal">가입하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>