<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>signup page</title>
</head>
<body>
    <div layout:fragment="content">
		<div>
		    <h2>회원가입</h2>
		    <form id="signupForm" method="POST" enctype="multipart/form-data">
		        <div class="form-group">
		            <label>이메일*</label>
		            <input type="email" id="userEmail" name="email" class="form-control" required>
		        </div>
		        <div class="form-group">
		            <label>비밀번호*</label>
		            <input type="password" id="userPassword" name="password" class="form-control" required>
		        </div>
		        <div class="form-group">
		            <label>비밀번호 확인*</label>
		            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
		        </div>
		        <button type="submit" class="btn btn-primary">가입하기</button>
		    </form>
		</div>
		
    </div>
</body>
</html>