<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<header th:fragment="header">
	
		<!-- 메인 로고 (상단에서 유지됨) -->
	    <div class="main-logo-container">
	        <a href="/"><img src="/images/logo.png" alt="main-logo" class="main-logo"></a>
	    </div>
	    
	    <!-- 네비게이션 바 (스크롤하면 고정됨) -->
    	<div th:replace="~{fragments/navigation :: navigation}"></div>
    	
    	<!-- 네비게이션이 고정될 때 컨텐츠 점프를 방지하는 스페이서 -->
    	<div class="nav-spacer"></div>
    	
    </header>
</body>
</html>