<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="navigation" class="nav-container sticky-top">
        <div class="container">
            <ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link" href="/generator">NAMING</a> <!-- aria-current="page" -->
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/process">PROCESS</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/about">ABOUT</a>
			  </li>
			  <!-- 로그인한 사용자에게만 마이페이지 표시 -->
			  <li class="nav-item" sec:authorize="isAuthenticated()">
			    <a class="nav-link" href="/mypage">MYPAGE</a>
			  </li>
			  <!-- 로그인하지 않은 사용자에게만 로그인 링크 표시 -->
			  <li class="nav-item" sec:authorize="!isAuthenticated()">
			    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#login-modal">LOGIN</a>
			  </li>
			  <!-- 로그인한 사용자에게만 로그아웃 링크 표시 -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">LOGOUT</a>
                </li>
			</ul>
        </div>
        
		<!-- 햄버거 메뉴 아이콘 -->
		<div class="menu">
	    	<img src="/images/menu.png" class="menu-icon"/>
	    </div>
    </nav>
</body>
</html>
